@import "vars";
@import "mixin";
@import "vendor/reset";

html {
	font-size: 62.5%;
}

body {
	// background-color: #E5E5E5;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1.4rem;
	line-height: 1.5rem;
	color: $textColor;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

/* Blocks */
@import "blocks/page";
@import "blocks/container";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/services";
@import "blocks/most-popular";
@import "blocks/advertising";
@import "blocks/shop";
@import "blocks/footer";
@import "blocks/btn";
@import "blocks/products";
@import "blocks/form";
