<footer class="footer mx-auto">
	<div class="footer__box row">
		<div class="col-5">
			<span class="plantku d-block mb-4">PLANTKU</span>
			<span class="medium-span d-block">Plantku House</span>
			<small class="text-small d-block">Jl. Laksda Adisucipto No.51, Demangan, 
				Kec. Depok, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55282
			</small>
		</div>
		<div class="col-2">
			<span class="medium-span dark d-block">Perusahaan</span>
			<span class="little-span d-block">Tentang Kami</span>
			<span class="little-span d-block">Hubungi Kami</span>
		</div>
		<div class="col-2">
			<span class="medium-span dark d-block">Produk</span>
			<span class="little-span d-block">Tanaman</span>
			<span class="little-span d-block">Tanaman Lain</span>
		</div>
		<div class="col-3">
			<span class="medium-span dark d-block">Berlangganan Email Kami</span>
			<form class="form-floating mt-4">
				<input type="email" class="form-control subscribe" id="floatingInputValue" placeholder="Masukan Alamat Email" value="Masukan Alamat Email">
				<label for="floatingInputValue">Input with value</label>
			</form>
			<button type="button" class="btn btn__grin btn__footer mt-4">Submit</button>
		</div>
	</div>
</footer>
